<article>
    <h3>{{employee.title}} {{employee.firstname}} {{employee.surname}}</h3>
    <div>
      <span>Gender:</span> {{employee.gender}}
    </div>
    <div>
      <span>DOB:</span> {{employee.dob}}
    </div>
    <div>
      <span>Age:</span> {{employee.age}}
    </div>
    <div>
      <span>Salary:</span> {{employee.salary}}
    </div> <div>
      <span>Income Tax:</span> {{employee.incometax}}
    </div> <div>
      <span>National Insurance:</span> {{employee.nationalinsurance}}
    </div> <div>
      <span>Take home amount:</span> {{employee.takehome}}
    </div>
</article>
