<article class="employee-card">
    <div class="employee-name">
        <h3>{{employee.title}} {{employee.fullname}}</h3>
    </div>

    <section class="personal-details">
        <div class="detail">
          <span>gender:</span><span class="value">{{employee.gender}}</span>
        </div>

        <div class="detail">
          <span>dob:</span><span class="value">{{employee.dob}}</span>
        </div>

        <div class="detail">
          <span>age:</span><span class="value">{{employee.age}}</span>
        </div>
    </section>

    <section class="salary-details">
        <div class="detail">
          <span class="label">Salary:</span><span class="value">{{employee.salary}}</span>
        </div> 

        <div class="detail">
          <span class="label">Income Tax:</span><span class="value deduction">{{employee.incometax}}</span>
        </div> 

        <div class="detail">
          <span class="label">National Insurance:</span><span class="value deduction">{{employee.nationalinsurance}}</span>
        </div> 

        <div class="detail">
          <span class="label">Take Home:</span><span class="value">{{employee.takehome}}</span>
        </div>
    </section>
</article>
