<h1>Employees Payroll</h1>

{{#each model as |employee|}}
  <article>
    <h3>{{employee.title}} {{employee.firstName}} {{employee.surname}}</h3>
    <div>
      <span>Gender:</span> {{employee.gender}}
    </div>
    <div>
      <span>DOB:</span> {{employee.dob}}
    </div>
    <div>
      <span>Age:</span> {{employee.age}}
    </div>
    <div>
      <span>Salary:</span> {{employee.salary}}
    </div>
  </article>
{{/each}}
